<div class="row">
  <div class="medium-4 columns">
    <h2>
      <span>Final shortlist</span>
    </h2>
  </div>
  <div class="medium-4 columns text-right">
    <a class="success button large"
       routerLink="/confirmed" (click)="createPDF(cartItems)" >Download PDF</a>
  </div>
      
  <hr/>
</div>
<div class="row">
  <div class="medium-8 columns">
    <div class="row checkout_row"
        *ngFor="let item of cartItems">
      <div class="medium-2 columns text-center">
          <img src="./assets/{{item.casestudy.id}}.jpg"
                class="casestudy_image"/>
      </div>
      <div class="medium-5 columns">
          <span class="text--bold js-casestudy-name">{{item.casestudy.name}}</span>
          <p class="js-casestudy-desc">{{item.casestudy.summary}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-10 columns small-centered">
      <a class="warning button expanded"
        routerLink="/">Go back to other case studies</a>
    </div>
  </div>
</div>
