li {
    float: left;
    padding: 1px 8px;
  }
  
  button {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background-color:#aaa;
  }

  input {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    background-color:rgb(250, 244, 244);
  }
  
  li a:hover {
    background-color: #111;
  }
  
  